<h1>vista de inicio</h1>
<section class="d-flex flex-wrap justify-content-evenly">
    {{#each products}}
    <div class="card my-2" style="width: 18rem;">
        {{#if this.photo}}
            <img src="{{this.photo}}" class="card-img-top" alt={{this._id}} style="height: 18rem; object-fit: cover">
        {{else}}
            <img src="https://cdn-icons-png.flaticon.com/512/9402/9402212.png" alt={{this._id}} style="height: 18rem; object-fit: cover">
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">USD{{this.price}}</p>
            <a href="/product/{{this._id}}" class="btn btn-primary">+info</a>
        </div>
    </div>
    {{/each}}
</section>
